.clear{
float:none;
}

.hidden{
display:none;
}

.details-form div {
display: inline-block;
width: 25%;
margin: 10px 22px;
}

.left-div{

  border:1px solid #000;
  width:42%;
  height:65%;
  margin-left:1%;
  float:left;
}

.right-div{
border:1px solid #000;
width:48%;
height:100%;
margin-left:1%;
float:right;
}

.options-div{
  border:1px solid #000;
  width:49%;
  height:25%;
  margin-left:1%;
  float:left;
}
.mid-div{
  border:1px solid #000;
  width:6%;
  height:65%;
  margin-left:1%;
  float:left;
}
  .head-div{
    border:1px solid #000;
    width:49%;
    height:10%;
    margin-left:1%;
    float:left;
  }
